<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="wrapper">
      <div class="col">
        <div class="reciept">
          <img src="assets/images/reciept.png" alt="">
        </div>

      </div>
      <div class="col">

        <ion-button expand="block" (click)="printer()">Printer</ion-button>
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
    </div>
  </div>
</ion-content>
